<h1>Список дисциплин (<%= link_to 'добавить', new_workplace_organization_discipline_path(@organization) %>)</h1>

<ul>
  <% @disciplines.each do |discipline| %>
    <li>
      <%= discipline.abbr %> &mdash; <%= discipline.title %>
      <%= link_to 'редактировать', edit_workplace_organization_discipline_path(@organization, discipline) %>
    </li>
  <% end %>
</ul>
