<%= link_to '+ добавить дисциплину',
            new_workplace_discipline_path,
            :class => 'yellow_button thin to_right in_frame',
            'data-parent' => '.workplace_wrapper',
            'data-target' => '#discipline_list',
            'data-list' => '#discipline_list',
            'data-kind' => 'new_record',
            :remote => true %>
<h2 class='thin'>Список дисциплин</h2>

<div class="scrollable searchable">
  <div class='search_in_list_wrapper'>
    <input type="text" class='search_in_list wide' />
    <span class="search_in_list_hint">Найдите дисциплину по названию</span>
  </div>
  <ul class='list' id='discipline_list'>
    <%= render @disciplines %>
  </ul>
</div>
