<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>Здравствуйте, <%= @membership.email %>!</p>
    <p>Вас пригласили в систему управления расписанием <%= @membership.organization.title %>.</p>
    <p>
      <% if User.find_by_email(@membership.email) %>
        Для начала работы Вам нужно <%= link_to 'войти', new_user_session_path %>.
      <% else %>
        Для начала работы Вам нужно <%= link_to 'зарегистрироваться', new_user_registration_url %>.
      <% end %>
    </p>
  </body>
</html>
