<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @membership.email %></h1>
    <p>You have beed invited to <%= @membership.organization.title %></p>
    <% if User.find_by_email(@membership.email) %>
      <%= link_to 'sign_in', new_user_registration_url %>
    <% else %>
      <%= link_to 'sign up', new_user_registration_url %>
    <% end %>
  </body>
</html>
