<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @membership.email %></h1>
    <%= link_to 'register', new_user_registration_url %>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
