<%= render :file => 'public/commons/search_form' %>

<ul class="list">
  <% @groups.each do |group| %>
    <li>
      <%= link_to "гр. #{group.title}", organization_group_path(group) %>
      <span class='additional'><%= group.timetable.title %></span>
    </li>
  <% end %>
</ul>

<%= paginate @groups %>

