@import 'commons/compass'
@import 'commons/auth'
@import 'commons/color_scheme'
@import 'commons/flash_messages'
@import 'commons/fonts'
@import 'commons/forms'
@import 'commons/tables'

body
  +clearfix

.hidden
  display: none

.main_wrapper
  +clearfix
  background: #f2f2f2
  height: 100%

.close_link
  border-bottom: 1px dashed #0061a6
  color: #0061a6
  font-size: 12px
  float: right
  line-height: 12px
  margin: 0 10px 0 0
  position: relative
  top: -20px
  text-decoration: none
  text-transform: uppercase

  &:before
    background: image_url('close.png') no-repeat center center
    content: ''
    display: block
    height: 14px
    position: relative
    left: 55px
    top: 13px
    width: 14px

.side_wrapper
  background: #4d4d4d
  color: #f2f2f2
  float: left
  height: 100%
  overflow: visible !important
  position: relative
  width: 245px
  z-index: 2

  &.closed
    width: 52px

  &.opened
    width: 245px

  .handle
    +border-bottom-right-radius(3px)
    +border-top-right-radius(3px)
    background: #4d4d4d
    height: 32px
    line-height: 32px
    margin-top: -16px
    position: absolute
    right: -13px
    text-align: center
    top: 50%
    width: 14px
    z-index: 3

    &:hover
      cursor: pointer
      font-weight: bold

  ul
    +clearfix
    padding: 10px 0

    li
      padding: 8px 10px

      &.selected
        background: #1a1a1a

        b
          color: #999999

      &:hover
        background: #0061A6

      &#timetables
        span
          background: transparent image_url('side_icons.png') no-repeat 0 0

      &#lecturers
        span
          background: transparent image_url('side_icons.png') no-repeat 0 -32px

      &#disciplines
        span
          background: transparent image_url('side_icons.png') no-repeat 0 -64px

      &#buildings
        span
          background: transparent image_url('side_icons.png') no-repeat 0 -96px

      &#members
        span
          background: transparent image_url('side_icons.png') no-repeat 0 -128px

      &#lecturers_loading
        span
          background: transparent image_url('side_icons.png') no-repeat 0 -160px

      &#buildings_loading
        span
          background: transparent image_url('side_icons.png') no-repeat 0 -192px

      &#subscribes
        span
          background: transparent image_url('side_icons.png') no-repeat 0 -224px

        b
          font-size: 16px
          font-weight: bold

  a
    +clearfix
    display: block
    color: #f2f2f2
    font-weight: bold
    text-decoration: none
    width: 225px

    span
      +border-radius(4px)
      background: #f2f2f2
      display: block
      float: left
      height: 32px
      width: 32px

    b
      +clearfix
      display: block
      line-height: 32px
      padding: 0 0 0 10px

  .separator
    border-bottom: 1px solid #666
    margin: 0 10px
    padding: 0

  #separator
    background: #666
    height: 1px
    margin: 10px
    padding: 0

  .organization_info
    +clearfix
    padding: 10px 10px 0 10px

    a
      padding: 0 0 10px 0

    b
      font-weight: normal
      line-height: 21px

  .footer
    bottom: 0
    font-size: 12px
    line-height: 16px
    padding: 10px 0
    position: absolute
    width: 245px

    a
      display: inline
      letter-spacing: 1px
      width: auto

    .desc
      color: #999999
      padding: 0 20px

    b
      display: block

    .copyright
      margin: 20px 0 0 0
      padding: 0 20px

.workplace_wrapper
  +clearfix
  background: #f2f2f2
  padding: 10px 20px

  .header
    margin: 0 0 25px 0

    .logo
      background: image_url('logo.png') no-repeat
      display: block
      height: 40px
      text-indent: -999px
      width: 164px

  .yellow_button, .grey_button, .delete_button
    +border-radius(4px)
    +inline-block
    border: none
    color: #141414
    font-size: 10px
    font-weight: 700
    letter-spacing: 1px
    line-height: 14px
    padding: 7px 20px
    text-decoration: none
    text-transform: uppercase

    &:active
      +single-box-shadow(#000, 0, 0, 4px, false, true)

    &:hover
      cursor: pointer

    &.to_right
      float: right

  .yellow_button
    +background-image(linear-gradient(#febb09, #fdab09))
    +single-box-shadow(#fed560, 0, -4px, 0, false, true)

    &.faded, &.inactive
      +single-box-shadow(none)
      background: none
      border: 1px solid #e6e6e6
      color: #ccc

    &.inactive
      &:hover
        cursor: default

    &.faded
      &:hover
        +background-image(linear-gradient(#febb09, #fdab09))
        +single-box-shadow(#fed560, 0, -4px, 0, false, true)
        color: #141414

      &:active
        +single-box-shadow(#000, 0, 0, 4px, false, true)

  .grey_button
    +background-image(linear-gradient(#d5d5d5, #cbcbcb))
    +single-box-shadow(#b1b1b1, 0, -4px, 0, false, true)

  .delete_button
    +clearfix
    @include background(image_url('trash.png') no-repeat center center, linear-gradient(#fb3408, #fb2508))
    +single-box-shadow(#fd8560, 0, -4px, 0, false, true)
    text-indent: -999px
    padding: 7px 14px

    &.faded
      @include background(image_url('faded_trash.png') no-repeat center center)
      +single-box-shadow(none)
      border: 1px solid #e6e6e6

      &:hover
        @include background(image_url('trash.png') no-repeat center center, linear-gradient(#fb3408, #fb2508))
        +single-box-shadow(#fd8560, 0, -4px, 0, false, true)

      &:active
        +single-box-shadow(#000, 0, 0, 4px, false, true)

  .important_wrapper
    background: #fee495
    border-bottom: 2px solid #535353
    color: #141414
    font-size: 14px
    padding: 20px 20px 5px 20px
    margin: 0 0 5px 0

    .open_link
      +inline-block
      color: #094c95
      line-height: 14px

    &.opened
      .close
        display: block

    &.closed
      border: none

      .open_link
        border-bottom: 1px dashed #094c95

        &:hover
          border: none
          cursor: pointer
          padding: 0 0 1px 0

      .close_link
        display: none

    p
      line-height: 0.8em

    ul
      margin: 7px 0 0 0

      li
        &:before
          content: '•'
          margin: 0 5px 0 0

    .separator
      border-bottom: 1px solid #fec532
      margin: 15px 0

    form
      .hint
        display: block
        color: #6d6d6d
        font-size: 12px
        font-style: italic

      .file_input_wrapper
        .upload_file
        input
          +inline-block
          cursor: pointer
          opacity: 0
          position: relative
          left: -167px
          width: 163px
          height: 28px

  .list
    .item
      padding: 12px 10px

      .additional
        font-size: 12px
        color: #808080

      .actions
        float: right
        margin: 12px 0 0 0

      &:nth-child(even)
        background: #fff

.frame_container
  padding: 10px 20px

  .inner_wrapper
    height: 100%

  .close_link
    margin: 0 30px 0 0
    position: fixed
    top: 0
    right: 15px

  .buttons
    background: rgba(#fbfbfb, 0.8)
    padding: 0 0 0 18px
    text-align: left

    .grey_button, .yellow_button
      margin: 15px 4px

  .slave_table
    font-size: 12px
    width: auto

    tr:nth-child(odd)
      background: #fff

    td
      +clearfix

    .no_bg
      background: #f2f2f2

    .day_name
      display: block
      font-size: 14px

    .date
      display: block

    .center
      text-align: center

    .tight
      width: 96px

    .discipline, .kind, .groups, .lecturers
      float: left
      display: block

    .discipline
      font-weight: bold

      &:hover
        cursor: pointer

    .kind
      font-style: italic
      margin: 0 0 0 15px

    .groups
      clear: left

    .lecturers
      margin: 0 0 0 15px

    .lesson
      +min-width(100px)

.sticky
  &.bottom
    bottom: 0
    left: 0
    position: absolute
    right: 0

.hidden_value
  display: none

.search_in_list
  +border-radius(3px)
  border: 1px solid #808080
  color: #555
  font-size: 14px
  height: 30px
  line-height: 30px
  margin: 0
  outline: 0
  padding: 0 5px
  width: 64px

.search_in_list_hint
  display: block
  color: #6d6d6d
  font-size: 12px
  font-style: italic
  line-height: 16px
  margin: 5px 0 15px 0

.search_in_list_add
  margin: 0 0 0 15px

.show_loadings
  font-size: 14px
  margin: 0 15px
