@import 'jquery.ui.autocomplete'
@import 'commons/compass'
@import 'commons/auth'
@import 'commons/color_scheme'
@import 'commons/flash_messages'
@import 'commons/fonts'
@import 'commons/forms'
@import 'commons/tables'
@import 'commons/note'

body
  background: image_url('public_bg.png') repeat-y center center
  @include background(image_url('public_bg.png') no-repeat center center, image_url('public_bg_bottom.png') repeat-y top)
  height: auto

.main_wrapper
  font-weight: 200
  margin: 68px auto
  padding: 0
  width: 1183px

.header
  +clearfix
  background: #84c5fd

  .logo
    +clearfix
    background: #fff
    display: block
    float: left
    height: 104px
    width: 104px

    a
      display: block

      img
        display: block
        margin: 22px auto
        height: 60px
        width: 60px

  .title
    +clearfix
    color: #fff
    float: left
    padding: 20px 20px 0
    width: 722px

    h1
      font-size: 20px
      margin: 0

  .apps
    +clearfix
    float: left
    width: 317px

    div
      float: left

    a
      color: #fff
      display: block
      font-size: 14px
      height: 69px
      line-height: 16px
      padding: 35px 0 0 60px
      text-decoration: none
      text-transform: uppercase
      width: 98px

      &:hover
        background-color: #71b5ef !important

      span
        font-size: 10px

    .ios
      a
        background: image_url('shops.png') no-repeat 15px 0px

    .andriod
      a
        background: image_url('shops.png') no-repeat 15px -104px

.content
  background: #fff

.tight_block
  background: #6f748f
  height: 52px

  .navigation
    +clearfix
    float: right

    a
      color: #fff
      display: block
      float: left
      font-size: 11px
      height: 52px
      line-height: 52px
      padding: 0 35px
      text-align: center
      text-decoration: none
      text-transform: uppercase

      &.active
        background: #ffbe00

      &:hover
        background: #ffbe00

  .search_title
    background: #ffbe00
    font-size: 11px
    font-weight: 400
    float: left
    height: 52px
    line-height: 52px
    text-align: center
    text-transform: uppercase
    width: 104px

  form
    +clearfix
    float: left

    div.string
      float: left

      input#search_q
        +border-radius(0)
        background: #fff
        border: none
        height: 52px
        margin: 0
        padding: 0 25px
        width: 401px

    div.submit
      +clearfix
      float: left

      button
        +clearfix
        background: #ffbe00 image_url('search_icon.png') no-repeat center center
        border: none
        display: block
        height: 52px
        line-height: 52px
        text-align: center
        text-indent: -9999px
        text-transform: uppercase
        width: 52px

        &:hover
          cursor: pointer

  .inner_navigation
    position: relative

    .nav_button
      background: #ffbe00
      color: #6f748f
      display: block
      font-size: 36px
      float: left
      height: 52px
      line-height: 52px
      text-align: center
      text-decoration: none
      width: 52px

      &.inactive
        background: #eee

        &:hover
          cursor: default

    .current_week
      +clearfix
      background: #edf3f5
      float: left
      height: 52px
      line-height: 52px
      text-align: center
      width: 450px

      &:hover
        cursor: pointer

    .collection_wrapper
      +clearfix
      background: #fff
      border: 1px solid #ccc
      display: none
      height: 240px
      margin: 0 0 0 52px
      overflow-y: auto
      position: absolute
      top: 52px
      width: 448px
      z-index: 3

      .current
        a
          background: #eee
          color: #555
          text-decoration: none

          &:hover
            cursor: default

      a
        display: block
        padding: 5px 15px

        &:hover
          background: #eee

  .actions
    font-size: 11px
    float: right
    line-height: 16px

    a
      color: #fff
      text-decoration: none

      &:hover
        background: #ffbe00

    .ical
      a
        display: block
        padding: 10px 35px
        text-align: center
        text-transform: uppercase
        width: 95px

.list
  list-style: decimal-leading-zero inside

  li
    color: #a5afb4
    font-weight: 500
    padding: 15px 43px

    &.empty
      font-size: 20px
      font-weight: 200
      list-style: none !important
      margin: 0 10px 0 0
      padding-left: 130px

    &:nth-child(odd)
      background: #edf3f5

    a
      color: #35a8fa
      font-size: 20px
      font-weight: 200
      margin: 0 10px 0 62px

    span
      font-weight: 200
      color: #a5afb4

.timetable
  border-collapse: collapse
  table-layout: fixed
  width: 100%

  thead
    tr
      background: #84c5fd
      height: 52px

  th, td
    border: none
    padding: 0

  th
    color: #fff
    font-size: 12px
    text-align: center
    width: 169px

    .day_name
      font-size: 16px
      font-weight: 500

    .date
      font-size: 14px
      font-weight: 200

  td
    background: #fff
    height: 112px

    &.today
      border: 3px solid #ffbe00

    .time
      display: block
      font-size: 12px
      font-weight: 500
      height: 27px
      text-align: center
      width: 169px

      .minutes
        font-size: 9px
        vertical-align: super

    .lesson
      background: #edf3f5
      font-size: 12px
      line-height: 14px
      height: 65px
      padding: 10px

      &.lecture
        background: #e5ffd5

      &.practice
        background: #d5f6ff

      &.laboratory
        background: #d7d7f4

      &.research
        background: #f4e3d7

      &.design
        background: #ffd5e5

      &.exam
        background: #fcc1b5

      &.test
        background: #fcc1b5

      .discipline
        margin: 0 0 5px 0

      .lecturers, .groups
        margin: 5px 0 0 0

      .discipline, .groups
        display: block

      .kind, .classrooms
        color: #a5afb4

      .lecturers
        display: block

.ui-autocomplete
  +border-radius(0)

  li
    a
      font-weight: 200 !important
      line-height: 26px !important

      &.ui-state-focus
        +border-radius(0)

.pagination
  display: block
  padding: 5px 0 25px
  text-align: center

  span
    +inline-block
    font-size: 20px
    font-weight: 200
    margin: 0 3px

    a
      color: #35a8fa
      font-weight: 200
