.log_info
  +clearfix
  height: 26px
  margin: 0
  padding: 0
  position: absolute
  text-align: right
  top: 0
  width: 100%
  z-index: 1

  .wrapper
    background: #4d4d4d
    color: #f2f2f2
    float: right
    font-size: 14px
    height: 22px
    line-height: 22px
    opacity: 0.4
    padding: 2px 5px

    a
      color: #f2f2f2

.auth_form_wrapper
  margin: 0 auto
  width: 400px

  label
    display: block

  input
    width: 394px
