form
  +clearfix

  div
    +clearfix

  div.string, div.text, div.date_picker, div.tel
    input, textarea
      +border-radius(3px)
      background: #f2f2f2
      border: 1px solid #808080
      font-size: 14px
      height: 30px
      line-height: 30px
      outline: 0
      padding: 0 5px

      &.inline_edit
        border: none
        color: #4498ff
        margin: 1px
        text-decoration: underline
        -webkit-text-decoration-style: dashed

        &:hover
          background: #fff
          border: 1px solid #ccc
          cursor: pointer
          margin: 0
          text-decoration: none

        &:active, &:focus
          background: #fff
          border: 1px solid #808080
          color: #555
          margin: 0
          text-decoration: none

      &.large
        font-size: 22px

      &.normal
        width: 350px

      &.date_picker
        width: 72px

      &.tight
        width: 64px

      &.wide
        width: 98%

    &.timetable_starts_on
      float: left

    &.timetable_ends_on
      margin: 25px 0 0 0

      &:before
        content: '\2014'
        margin: 0 15px 0 0

  div.boolean
    label
      input
        margin: 0 10px 0 0

  //div.radio_buttons
    //background: #fff
    //padding: 0 10px 5px 10px
    //overflow: visible
    //position: relative

    //&:before
      //color: #fff
      //content: '\25B2'
      //left: 18px
      //position: absolute
      //top: -9px

  li.fields
    +clearfix

    div.input
      +inline-block
      vertical-align: baseline

  .hint
    +inline-block
    background: #fee495
    font-size: 0.8em
    font-style: italic
    padding: 0 15px 0 10px

    &:before
      content: '\2190'
      margin: 0 5px 0 0

  .error
    color: #df6d76
    font-size: 0.8em

    &:before
      content: '\2190'
      margin: 0 5px 0 0

  label
    display: block
    font-size: 14px
    font-weight: 600

  .buttons
    text-align: center

    input, a
      +inline-block
      background: none
      border: 1px solid #999
      color: #444
      font-size: 14px
      line-height: 16px
      margin: 15px 4px
      padding: 3px 9px
      position: relative
      text-decoration: none
      width: auto !important

      &:hover
        border-color: #000
        color: #000
        cursor: pointer

      &:active
        top: 1px
        left: 1px

  .left_col
    float: left
    margin: 0 15px 0 0

  .right_col
    &:before
      content: '\2014'
      margin: 0 15px 0 0

.ui-autocomplete
  font-size: 14px

.new_subscription
  margin: 20px 0 0 0
  overflow: visible
  padding: 0 15px

  h6
    font-size: 14px
    font-weight: 600
    line-height: 25px

  .sum
    font-size: 30px
    font-weight: 200

    .without_discount
    .discount

    .value
      color: #000
      font-weight: 400

  .buttons
    text-align: left

    .yellow_button
      margin-left: 0

  .range_wrapper
    overflow: visible

    label
      float: left
      margin: 0 10px 0 0

    .counter
      +clearfix
      color: #0095ff
      display: block
      font-size: 14px
      font-weight: 600
      line-height: 25px

      .discount
        color: #939393
        font-style: italic
        font-weight: 400

    .range
      +border-radius(3px)
      +single-box-shadow(#c4c4c4, 0, 1px, 3px, 0, inset)
      background: #e6e6e6
      border-bottom: 1px solid #dadada
      border-left: 1px solid #c4c4c4
      border-right: 1px solid #c4c4c4
      border-top: 1px solid #b8b8b8
      height: 23px
      overflow: visible
      margin: 20px 0
      width: 712px

      .min, .max
        color: #000
        font-size: 10px
        font-weight: 400
        position: absolute

      .min
        left: 10px

      .max
        right: 10px

      .ui-slider-handle
        +border-radius(3px)
        +single-box-shadow(#73c5ff, 0, 1px, 0)
        background: #009fff image_url('slider_handler.png') no-repeat center center
        @include background(image_url('slider_handler.png') no-repeat center center, linear-gradient(#00a0ff, #008aff))
        border: none
        height: 45px
        outline: none
        top: -10px
        width: 29px
