<h1><%= @organization.title %></h1>
<h2>Все подписки </h2>

<ul>
  <% @organization.subscriptions.each do |subscription| %>
    <li><%= render subscription %></li>
  <% end %>
</ul>

<%= link_to 'Добавить новую подписку', new_manage_organization_subscription_path(@organization) %>
