<h1>All subscriptions <%= @organization.title %></h1>

<ul>
  <% @organization.subscriptions.each do |subscription| %>
    <li><%= render subscription %></li>
  <% end %>
</ul>

<%= link_to 'add subscription', new_manage_organization_subscription_path(@organization) %>
