<%= render :file => 'public/commons/search_form' %>

<ul class='list'>
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.title, organization_group_path(group.title) %>
      <span class='additional'><%= group.timetable.title %></span>
    </li>
  <% end %>

  <% @lecturers.each do |lecturer| %>
    <li><%= link_to lecturer.full_name, organization_lecturer_path(lecturer) %></li>
  <% end %>

  <% if @groups.empty? && @lecturers.empty? && params[:term].present? %>
      <li class="empty">Ничего не найдено :(</li>
  <% end %>
</ul>
