@import 'commons/compass'
@import 'commons/auth'
@import 'commons/color_scheme'
@import 'commons/flash_messages'
@import 'commons/fonts'
@import 'commons/forms'

body
  font-weight: 200

h1,h2,h3,h4,h5,h6
  font-weight: 200

h1
  text-align: center
  margin-top: 200px
