@import 'commons/compass'
@import 'commons/colorbox_gallery'

@import 'landing'

.docs
  .header
    height: auto
    min-height: 700px

  .wrapper
    background: #fff
    display: block
    margin: 30px auto 0 auto
    overflow: hidden
    padding: 20px
    width: 960px

    .sidebar
      float: left
      position: absolute
      top: 130px

      li
        margin: 10px 0

  .content
    float: left
    margin: 0 0 0 30%
    width: 70%

    h1
      font-size: 22px
      margin: 10px 0

    p
      margin: 0 0 10px 0
      line-height: 22px

    ul
      margin: 0 0 20px 20px

      li
        margin: 5px 0

    strong
      font-weight: bold

    em
      font-style: italic

    img
      width: 100%

