<h2>Ваши расписания (<%= link_to 'добавить', new_workplace_organization_timetable_path(@organization) %>)</h2>

<ul>
  <% @timetables.each do |timetable| %>
    <li>
      <%= render timetable %>
    </li>
  <% end %>
</ul>
