<h1><%= @timetable.title %></h1>

<ul>
<% @timetable.weeks.each do |week| %>
  <li>
    <%= link_to week, workplace_organization_timetable_week_path(@organization, @timetable, week) %>
  </li>
<% end %>
</ul>
