<ul class="sidebar js-sidebar">
  <% docs_pages.each do |page, title| %>
    <li class="item <%= 'active' if params[:id] == page %>">
      <%= link_to title, page_path(page) %>
    </li>
  <% end %>
</ul>
