<p>
  <strong>FlipTable</strong> &mdash; это сервис электронного расписания для учебных заведений. FlipTable предназначен для ведения и удобной публикации
  электронного расписания занятий в Интернет и использования на мобильных устройствах. Сервис полностью адаптирован для использования
  в учреждениях среднего профессионального образования и в высших учебных заведениях.
</p>

<p>
  Сервис максимально простой и удобный для всех участников учебного процесса: администрации образовательного учреждения, преподавателей и студентов.
</p>

<p>
  Преимущества использования FlipTable:
</p>

<ul>
  <li>Быстрота внедрения. Достаточно только регистрации на сайте</li>
  <li>Удобный интерфейс ведения расписания: наглядная сетка расписания, функции копирования и переноса, автоматический контроль наложений</li>
  <li>Поддержка четных, нечетных недель  и «ломки» расписания, деление групп на подгруппы</li>
  <li>Автоматические отчеты и аналитика</li>
  <li>Готовый веб-интерфейс просмотра электронного расписания по группе, преподавателю, аудитории, а также возможность быстро встроить
    расписание на сайт образовательного учреждения и распечатать</li>
  <li>Экспорт электронного расписания группы и преподавателя в формате iCal</li>
  <li>Мобильные версии расписания для Android, iOS, Windows Mobile</li>
</ul>
