<h1>Контакты</h1>

<p>
  С вопросами и пожеланиями можно обращаться:
</p>

<ul>
  <li>Нажав на форму внизу экрана «Напишите нам»</li>
  <li>По электронной почте <%= mail_to 'ask@fliptable.ru' %></li>
  <li>По скайпу bdn.openteam.ru</li>
  <li>По телефону +7-913-840-11-19</li>
  <li>Мы находимся в Томске (GTM+6) и готовы ответить на все ваши вопросы с 9 до 18.</li>
</ul>
