<h1>Копирование недель</h1>

<p>
  Заполненное недельное расписание занятий может быть раскопировано на другие недели расписания. Для этого при выбранной
  исходной недели достаточно нажать кнопку «Копировать». В появившемся окне можно указать, на какие недели будет
  произведено копирование: все, только четные или только нечетные. Все занятия на неделях, на которые распространено копирование,
  будут заменены занятиями с исходной недели.
</p>

<%= link_to image_tag('docs/copy-weeks.png', :alt => 'Копирование недель', :title => 'Копирование недель'), image_path('docs/copy-weeks.png'), :class => 'js-gallery' %>
