<%= content_for :page_title, 'Справочник дисциплин' %>

<p>
  Справочник дисциплин заполняется автоматически по мере составления расписания. Но его также можно заполнить вручную.
</p>

<p>
  Перейдем на страницу управления справочником дисциплин, нажав на
  <%= image_tag 'docs/disciplines-icon.png', :alt => 'Иконка справочник дисциплин', :title => 'Иконка справочник дисциплин', :class => 'icon' %>
  в элементах навигации «Дисциплины».
</p>

<%= link_to image_tag('docs/disciplines-list.png', :alt => 'Список дисциплин', :title => 'Список дисциплин'), image_path('docs/disciplines-list.png'), :class => 'js-gallery' %>

<p>
  Для «ручного» добавления дисциплин нужно нажать на кнопку «Добавить дисциплину», на открывшейся форме ввести название
  и аббревиатуру и нажать «Сохранить» в нижней части экрана.
</p>

<%= link_to image_tag('docs/disciplines-add-new.png', :alt => 'Добавление новой дисциплины', :title => 'Добавление новой дисциплины'), image_path('docs/disciplines-add-new.png'), :class => 'js-gallery' %>

<p>
  По справочнику дисциплин организован поиск.
</p>

<p>
  При составлении расписания справочник дисциплин будет заполняться автоматически.Также автоматически, на основе названия дисциплины,
  будет генерироваться аббревиатура дисциплины. Если необходимо изменить название или аббревиатуру дисциплины, то это можно сделать,
  нажав на кнопку «Редактировать».
</p>
