<p>
  Для начала работы достаточно просто зарегистрироваться указав адрес электронной почты и пароль.
</p>

<%= link_to image_tag('docs/signup.png', :alt => 'Начало работы с FlipTable', :title => 'Начало работы с FlipTable'), image_path('docs/signup.png'), :class => 'js-gallery' %>

<p>
  После регистрации вы попадете в ваше рабочее пространство. В левой части рабочего пространства расположены элементы навигации и управление подписками.
  В основной части окна отображаются элементы соответствующие выбранному пункту навигации. По умолчанию открывается страница со списком расписаний занятий,
  но об этом чуть позже. Перед началом работы непосредственно с расписанием занятий необходимо сделать простые настройки сервиса для вашего учреждении,
  заполнить или загрузить справочники преподавателей и аудиторного фонда.
</p>

<%= link_to image_tag('docs/workplace.png', :alt => 'Рабочее пространство', :title => 'Рабочее пространство'), image_path('docs/workplace.png'), :class => 'js-gallery' %>
