<h1>Многопользовательский режим работы</h1>

<p>
  В FlipTable работа над расписанием одного учебного заведения возможна одновременно для нескольких пользователей. Для этого необходимо отправить им приглашения.
</p>

<p>
  Перейдем на страницу управления менеджерами, нажав на
  <%= image_tag 'docs/managers-icon.png', :alt => 'Иконка менеджеры', :title => 'Иконка менеджеры', :class => 'icon' %>
  «Менеджеры» в элементах навигации.
</p>

<%= link_to image_tag('docs/managers-list.png', :alt => 'Список менеджеров', :title => 'Список менеджеров'), image_path('docs/managers-list.png'), :class => 'js-gallery' %>

<p>
  Для отправки приглашения новому менеджеру нужно нажать на кнопку «Добавить менеджера», на открывшейся форме ввести адрес электронной почты и нажать «Сохранить» в нижней части экрана. На указанный адрес будет отправлено письмо с приглашением. После регистрации, с указанным в приглашении адресом электронной почты, новый менеджер сможет работать с расписаниями вашей организации.
</p>

<p>
  Для удаления прав доступа у менеджера к редактированию информации в вашей организации нужно нажать на иконку «Корзина».
</p>
