<%= content_for :page_title, 'Настройки учреждения' %>

<p>
  В первую очередь требуется заполнить сведения об образовательном учреждении. Для этого необходимо перейти по самому верхнему элементу навигации &mdash;
  откроется страница настроек образовательного учреждения.
</p>

<%= link_to image_tag('docs/organization-settings-show.png', :alt => 'Просмотр информации об организации', :title => 'Просмотр информации об организации'), image_path('docs/organization-settings-show.png'), :class => 'js-gallery' %>

<p>
  На открывшейся странице нужно нажать на кнопку «Редактировать» и заполнить поля формы.
</p>

<%= link_to image_tag('docs/organization-settings-edit.png', :alt => 'Редактирование информации об организации', :title => 'Редактирование информации об организации'), image_path('docs/organization-settings-edit.png'), :class => 'js-gallery' %>

<p>
  В поле название организации введите название вашего образовательного учреждения, далее укажите адрес электронной почты, телефон и сайт.
  Укажите латинскими буквами доменное имя, которое будет использоваться для формирование уникального адреса публичной версии электронного расписания занятий.
  Адрес будет сформирован в виде http://<доменное имя>.fliptable.ru. После внесения сведений нажмите «Редактировать» в нижней части экрана.
</p>

<p>
  На странице настроек образовательного учреждения также доступно управление сеткой расписания занятий. Эта сетка будет использоваться автоматически
  для вновь создаваемых расписаний занятий. Для управления сеткой расписания занятий нажмите на кнопку «Управление расписанием звонков».
</p>

<p>
  Используя эту форму, нужно создать действующую в вашем учреждению сетку расписания занятий. В разные дни недели сетка расписания занятий может быть разной
  (мы уже встречали такие примеры). По умолчанию сетка расписания занятий заполнена автоматически и, если вы хотите поскорей попробовать непосредственно
  заполнять расписание занятий, можете ее пока не менять.
</p>

<%= link_to image_tag('docs/organization-settings-lesson-times.png', :alt => 'Управление расписанием звонков', :title => 'Управление расписанием звонков'), image_path('docs/organization-settings-lesson-times.png'), :class => 'js-gallery' %>
