<h1>Подписки</h1>

<p>
  И в завершение о принципах расчета стоимости использования электронно расписания занятий FlipTable.ru. Стоимость подписки определяется,
  исходя из количества академических групп учебного заведения и продолжительности подписки. Вы легко можете сами определить стоимость подписки,
  воспользовавшись калькулятором внизу главной страницы.
</p>
