<h1>Поддержка пользователей и гарантии</h1>

<p>
  Мы очень любим свой продукт и своих пользователей, поэтому всегда готовы помочь, подсказать и развивать наш сервис.
  Кроме того, в наших планах расширять линейку полезных сервисов для учебных заведений. Уже сегодня мы обладаем рядом наработок:
  журнал посещаемости и успеваемости занятий, генератор рабочих программ дисциплин на основе рабочих учебных планов,
  личный кабинет абитуриентов, студентов и преподавателей. Все наши решения являются авторскими разработками коллектива
  Центра веб-технологий и информационных ресурсов ТУСУР и могут быть легко адаптированы под потребности отдельного учебного заведения.
  На часть решений получены свидетельства о государственной регистрации программ для ЭВМ.
</p>
