<%= content_for :page_title, 'Публикация расписания' %>

<p>
  Каждое расписание может находиться в статусе «черновика» (т.е. занятия из этого расписания не отображаются в публичном просмотре),
  либо быть опубликованным. Вновь создаваемые расписания находятся в «черновиках». Опубликовать расписание можно, нажав на кнопку «Опубликовать».
  В любой момент расписание можно снять с публикации, нажав на кнопку «Вернуть в черновики».
</p>
