<p>
  Для каждого расписания доступен отчет со статистикой понедельной нагрузки в разрезе групп, предметов и видов занятий.
  Просмотр статистики доступен по клику на кнопке «Статистика» на просмотре расписания.
</p>

<%= link_to image_tag('docs/timetable-statistics.png', :alt => 'Статистика нагрузки по расписанию', :title => 'Статистика нагрузки по расписанию', :width => '672px', :height => '310px'), image_path('docs/timetable-statistics.png'), :class => 'js-gallery' %>
