<h1>Составление расписания</h1>

<p>
  Теперь можно приступить к составлению расписания. Под расписанием занятий в FlipTable понимается занятия определенных групп
  в определенный период времени. В одном расписании можно заполнять расписание на год для всех групп учебного заведения.
  Можно разделить расписания по курсам, специальностям, факультетам, все зависит от особенностей учебного заведения
  и личных предпочтений методиста, который заполняет расписание. Также расписания могут быть разделены по семестрам,
  месяцам или другим временным периодам.
</p>

<p>
  При добавлении нового расписания необходимо заполнить название и срок его действия, например, «Радиоконструкторский факультет 2 курс»,
  с 1 сентября до 31 декабря. Также при добавлении расписания можно исправить расписание звонков и указать необходимость разделения на
  четные / нечетные недели. Если требуется поддержка четных/нечетных недель, то необходимо выбрать, с какой недели начинается это расписание.
</p>

<%= link_to image_tag('docs/timetable-add-new.png', :alt => 'Добавление нового расписания', :title => 'Добавление нового расписания'), image_path('docs/timetable-add-new.png'), :class => 'js-gallery' %>

<p>
  После сохранения вы попадете на страницу составления расписания. FlipTable позволяет составлять расписание занятий понедельно.
</p>

<p>
  В только что добавленное расписание необходимо добавить группы, для этого нужно просто ввести номер группы и нажать «Добавить группу».
</p>

<%= link_to image_tag('docs/timetable-add-groups.png', :alt => 'Добавление групп', :title => 'Добавление групп'), image_path('docs/timetable-add-groups.png'), :class => 'js-gallery' %>

<p>
  Для добавления урока в расписание группы необходимо кликнуть на кнопку «Добавить» в нужной ячейке таблицы. В появившемся окне
  заполняется информация о новом уроке: название дисциплины, вид занятий, корпус, номер аудитории и Ф.И.О. лектора.
  Корпус, номер аудитории и преподавателя выбираются из справочников, поэтому достаточно начать писать номер аудитории / название
  корпуса или фамилию преподавателя и затем выбрать нужное из списка.
</p>

<p>
  При добавлении урока группы можно “запоточить”, для этого необходимо перечислить все номера групп, вводя их в поле “Номер группы”
  и выбирая из предложенного списка групп данного расписания.
</p>

<p>
  Если на занятии группа разделяется на подгруппы, то можно выбрать, какая подгруппа будет заниматься - А или Б.
  Для второй подгруппы возможно в это же время добавить другое занятие.
</p>

<p>
  При добавлении занятий происходит автоматическая проверка наложений. Так, если у группы в это время есть уже занятие,
  занята аудитория или преподаватель, то об этом будет показано уведомление.
</p>

<%= link_to image_tag('docs/timetable-add-lesson.png', :alt => 'Добавление занятия', :title => 'Добавление занятия'), image_path('docs/timetable-add-lesson.png'), :class => 'js-gallery' %>

<p>
  На каждой ячейке с уроком есть “быстрые кнопки” для редактирования, копирования, переноса или удаления урока.
  При клике по редактированию открывается уже знакомая форма, в которой можно изменить информацию об уроке.
</p>
