<%= content_for :page_title, 'Публичный вид расписания' %>

<p>
  В публичном виде расписание учебного заведения доступно по адресу: http://<доменное имя>.fliptable.ru.
  При этом доступен просмотр расписания по группе, преподавателю или аудитории. По всем спискам доступна возможность поиска.
</p>

<p>
  Расписания показываются в разрезе недели. По умолчанию показывается текущая или последняя неделя.
</p>

<p>
  Также доступны мобильные версии расписания. Мобильные версии предоставляются сервисом “Расписание вузов”
  <%= link_to 'http://raspisaniye-vuzov.ru/', 'http://raspisaniye-vuzov.ru/' %>. При подключении учебного заведения к нашему сервису,
  мы автоматически передаем данные для мобильных версий. Мобильные версии доступны для всех устройств.
</p>

<p>
  Для продвинутых пользователей во FlipTable есть возможность загрузить свое расписание в формате iCal.
  Это позволяет загрузить расписание или подписаться на него, например, в Google Calendar или других привычных для пользователей календарях.
</p>

<p>
  Пример расписания группы в публичном виде.
</p>

<%= link_to image_tag('docs/timetable-in-public.png', :alt => 'Пример расписания группы в публичном виде', :title => 'Пример расписания группы в публичном виде'), image_path('docs/timetable-in-public.png'), :class => 'js-gallery' %>
