<% if @organization.persisted? %>
  <div class="organization_info data_presentation">
    <%= link_to edit_workplace_organization_path(@organization) do %>
      <span>
        <%= image_tag @organization.logotype.thumb('32x32').url if @organization.logotype_uid? %>
      </span>
      <b><%= @organization.title %></b>
    <% end %>
  </div>
<% end %>
