<% if @organization.persisted? %>
  <div class="organization_info data_presentation">
    <h1><%= @organization.title %></h1>
    <%= link_to "редактировать инфу об организации", edit_workplace_organization_path(@organization), :remote => :true, :class => 'in_frame' %>
  </div>
<% end %>
