<div class="time">
  <span class="hours"><%= l cell.lesson_starts_at, :format => '%k' %></span><span class="minutes"><%= l cell.lesson_starts_at, :format => '%M' %></span>&mdash;
  <span class="hours"><%= l cell.lesson_ends_at, :format => '%k' %></span><span class="minutes"><%= l cell.lesson_ends_at, :format => '%M' %></span>
</div>
