<li>
  <%= link_to week, workplace_organization_timetable_week_path(@organization, @timetable, week) %>
  <%= link_to "Copy", workplace_organization_timetable_week_new_copy_path(@organization, @timetable, week) %>
</li>

