<h1>Weeks list</h1>
<% if @timetable.parity? %>

  <h3>Четные недели:</h3>
  <ul>
    <% @weeks.even.each do |week| %>
      <%= render week %>
    <% end %>
  </ul>

  <h3>Нечетные недели:</h3>
  <ul>
    <% @weeks.odd.each do |week| %>
      <%= render week %>
    <% end %>
  </ul>

<% else %>
<ul>
  <% @weeks.each do |week| %>
    <%= render week %>
  <% end %>
</ul>
<% end %>
