<%= render :file => 'public/commons/search_form' %>

<ul class="list">
  <% @lecturers.each_with_index do |lecturer, i| %>
    <li>
      <%= render :partial => 'commons/counter', :locals => { :page => params[:page], :index => i } %>
      <%= link_to lecturer.full_name, organization_lecturer_path(lecturer) %>
    </li>
  <% end %>
</ul>

<%= paginate @lecturers %>
