app:
  secret:       SECRET

  default_url_options:
    host:       HOST
    port:       PORT

errors:
  key:          KEY
  url:          http://errors.openteam.ru

mail:
  address:      SMTP
  port:         PORT
  domain:       DOMAIN
  login:        LOGIN
  password:     SECRET
  from:         USER

solr:
  url:          http://localhost:8982/solr

storage:
  url:          http://localhost:5000

