<li>
  <% if membership.activated? %>
    <%= "#{membership.user.email} (#{membership.role_text})" %>
  <% else %>
    <%= "#{membership.email} (#{membership.role_text}) не подтверждено" %>
  <% end %>

  <!-- TODO: only owner can manage memberships -->
  <%= link_to 'Удалить', workplace_membership_path(membership), :method => :delete, :confirm => 'Вы уверены?' %>
</li>
