<%= link_to '+ добавить менеджера',
            new_workplace_membership_path,
            :class => 'yellow_button thin to_right in_frame',
            'data-parent' => '.workplace_wrapper',
            'data-target' => "#membership_list",
            'data-list' => '#membership_list',
            'data-kind' => 'new_record',
            :remote => true %>
<h2 class='thin'>Менеджеры</h2>

<div class="scrollable">
  <% if @organization %>
    <div class='search_in_list_wrapper'>
      <input type="text" class='search_in_list wide' data-list='#membership_list' autofocus='autofocus' />
      <span class="search_in_list_hint">Найдите менеджера по электронной почте</span>
    </div>
    <ul class='list' id='membership_list'>
      <%= render @organization.memberships %>
    </ul>
  <% end %>
</div>
