<%= link_to '+ добавить менеджера', new_workplace_membership_path, :class => 'yellow_button thin to_right in_frame', 'data-parent' => '.workplace_wrapper', :remote => true %>
<h2 class='thin'>Менеджеры</h2>

<div class="scrollable">
  <% if @organization %>
    <ul class='list'>
      <%= render @organization.memberships %>
    </ul>
  <% end %>
</div>
