<h2 class='thin'>Приглашение менеджера</h2>

<%= simple_form_for [:workplace, @membership], :remote => true do |f| %>

  <%= f.input :email, :as => :string, :input_html => { :class => 'inline_edit', :autofocus => true }, :placeholder => 'Адрес электронной почты' %>

  <div class="buttons sticky bottom">
    <%= f.submit "Сохранить", :class => 'yellow_button' %>
    <%= link_to "Отмена", :back, :class => 'cancel grey_button' %>
  </div>
  <div class='bottom_empty'></div>
<% end %>
