<li>
  <%= link_to lecturer.full_name, workplace_lecturer_path(lecturer) %>
  <%= link_to 'Редактировать', edit_workplace_lecturer_path(lecturer) %>
  <%= link_to 'Удалить', workplace_lecturer_path(lecturer), :method => :delete, :confirm => 'Вы уверены?' %>
</li>
