<li>
  <%= lecturer.full_name %>
  <%= link_to 'Редактировать', edit_workplace_organization_lecturer_path(lecturer.organization, lecturer) %>
  <%= link_to 'Удалить', workplace_organization_lecturer_path(lecturer.organization, lecturer), :method => :delete, :confirm => 'Вы уверены?' %>
</li>
