@import 'compass/reset'
@import 'compass/utilities'
@import 'compass/css3'

@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic)

html, body
  font-size: 1em
  line-height: 1.62em
  height: 100%

html, body, input, textarea, select, button, a, p
  font-family: 'PT Sans', sans-serif
  font-weight: normal

h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin: 0 0 0.62em 0

h1
  font-size: 2em

h2
  font-size: 1.7em

h3
  font-size: 1.5em

h4
  font-size: 1.4em

h5
  font-size: 1.2em

h6
  font-size: 1em

p
  margin: 0 0 0.1em 0

a
  color: #314890

  &:hover
    color: #5470C4
    text-decoration: none

body
  background: #f1e1d3

.message_wrapper
  font-size: 0.8em
  padding: 5px 0
  position: fixed
  text-align: center
  width: 100%

  &.alert
    background: #df6d76

  &.notice
    background: #c4dc78

.log_info
  margin: 0 0 1em 0
  text-align: right
  width: 100%

.main_wrapper
  h1
    text-align: center

h1, h2, h3, h4, h5
  a
    font-size: 0.8em

.sign_up_form_wrapper, .sign_in_form_wrapper
  margin: 0 auto
  width: 270px

form
  .error
    color: #df6d76
    font-size: 0.8em

    &:before
      content: '\2191'
      margin: 0 5px 0 0

  textarea
    height: 15px
    width: 400px

ul
  li
    &.not_done
      color: red
      a
        color: red
    &.done
      color: green
      a
        color: green

table
  &.timetable
    border: 1px solid #ccc

    tr
      border: 1px solid #ccc

      td
        border: 1px solid #ccc
        padding: 10px

.lesson_time_wrapper
  +clearfix
  border: 1px solid #aaa

  .tabbed_links
    +clearfix

    li
      float: left
      text-align: center
      width: 30px

      &.active
        background: red

table
  border-collapse: collapse
  width: 100%

  th, tr, td
    border: 1px solid black
    padding: 3px

input.range
  width: 600px

.counter
  font-size: 16px
  font-weight: bold
  font-style: italic
  margin: 0 5px

.date_wrapper
  .years
    +clearfix

    .year
      +clearfix
      float: left

  .months
    +clearfix

    li
      float: left
      text-align: center
      width: 80px

      &.not_active
        background: #eee

      &.active
        background: #035c9a
        color: yellow

      &:hover
        cursor: pointer

form.new_subscription
  margin: 15px 0 0 0
  width: 500px

  .range_wrapper
    label
    div.range
    .counter

  .sum
    display: block
    margin: 15px 0 0 0
    font-size: 22px
    text-align: right

  .buttons
    text-align: center

    input, a
      +inline-block
      background: none
      border: 1px solid #999
      color: #444
      font-size: 14px
      line-height: 16px
      margin: 15px 4px
      padding: 3px 9px
      text-decoration: none

      &:hover
        border-color: #000
        color: #000
        cursor: pointer

.group_timetable
  width: auto

  thead
    tr
      th
        border-color: #aaa
        text-align: center
        padding: 0
        width: 200px

        .day_name
          display: block
          color: #555

        .date
          display: block
          color: #777
          font-size: 12px

  tbody
    tr
      td
        border-color: #aaa
        font-size: 12px
        padding: 0
        vertical-align: top
        width: 200px

        &.empty_cell
          background: #fdfdfd

          span
            display: none

        .time
          border-bottom: 1px solid #aaa
          color: #777
          display: block
          font-size: 11px
          line-height: 14px
          margin: 5px 55px 8px
          text-align: center

        .lesson
          +clearfix
          background: yellow
          padding: 3px

          span
            height: 14px
            line-height: 14px

          .discipline
            +clearfix
            display: block
            float: left
            font-weight: bold
            margin: 0 0 5px 0
            width: 50%

            &:hover
              cursor: pointer

          .kind
            +clearfix
            display: block
            float: left
            text-align: right
            margin: 0 0 5px 0
            width: 50%

          .classrooms
            +clearfix
            display: block
            float: left
            margin: 0 0 5px 0
            width: 50%

            &:hover
              cursor: pointer

          .subgroup
            +clearfix
            display: block
            float: left
            margin: 0 0 5px 0
            text-align: right
            width: 50%

          .lecturers
            +clearfix
            display: block
            width: 100%

            &:hover
              cursor: pointer

          &.lecture
            background: #DDECCF
          &.practice
            background: #D8F0F0
          &.laboratory
            background: #EBE1F4

          &.n1
            background: #F8EAEA
          &.n2
            background: #FBF3F3

.week_list
  font-size: 12px
  float: right

  li
    &.selected
      background: #3c6ab4

      a
        color: #fafafa

@-webkit-keyframes glow
  from
    background-color: #007d9a
    +box-shadow(#333 0 0 9px)

  50%
    background-color: #2daebf
    +box-shadow(#2daebf 0 0 18px)

  to
    background-color: #007d9a
    +box-shadow(#333 0 0 9px)

.side_navigation
  background: #b9d1e5
  border-right: 1px solid #90bbda
  height: 100%
  position: fixed
  top: 0
  width: 60px
  z-index: 2

  ul
    li
      font-size: 10px
      text-align: center
      margin: 10px 0

      a
        display: block
        line-height: 16px
        margin: 0 auto
        width: 60px

        span
          +border-radius(24px)
          background: image_url('http://placekitten.com/g/48/48') no-repeat center top
          display: block
          height: 48px
          margin: 0 auto
          width: 48px

      &.selected
        span
          -webkit-animation-name: glow
          -webkit-animation-duration: 2s
          -webkit-animation-iteration-count: infinite

    &#timetables
    &#subscribes
    &#members
    &#lectures
    &#buildings
    &#disciplines

.workplace_wrapper
  left: 61px
  margin-right: 61px
  position: relative
  padding: 0 15px
